.container {
    background-color: #affffb;
    height: 150vh;
    padding: 20px;
    position: relative;
}

.block {
    height: 50px;

    /* top, left, right, bottom, z-index: */
}

.block-1 {
    background-color: #ff5e5e;
    position: relative;
    top: 20px;
    left: 100px;
}

.block-2 {
    background-color: #40c9ff;
    position: absolute;
    left: 50px;
    bottom: 0;
    /** position: relative/absolut/fixed/sticky **/
}

.block-3 {
    background-color: #ff814f;
    position: sticky;
    top: 0;
}

section {
    background-color: green;
    height: 100vh;
}